<form *ngIf="!display" autocomplete="on" (ngSubmit)="onSubmit()"
    style="margin: 5em; width:55em; display: flex; flex-wrap: wrap;">
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Nom</mat-label>
            <input matInput [(ngModel)]="name" name="name">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Prénom</mat-label>
            <input matInput [(ngModel)]="firstName" name="firstName">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Adresse</mat-label>
            <input matInput [(ngModel)]="address" name="address">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Code postal</mat-label>
            <input matInput [(ngModel)]="zipCode" name="zipCode">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Ville</mat-label>
            <input matInput [(ngModel)]="city" name="city">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Pays</mat-label>
            <input matInput [(ngModel)]="country" name="country">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>tel</mat-label>
            <input matInput [(ngModel)]="phone" name="phone">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="email" name="email">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>Civilité</mat-label>
            <input matInput [(ngModel)]="gender" name="gender">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>identifiant</mat-label>
            <input matInput [(ngModel)]="login" name="login">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>mot de passe</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
    </p>
    <p style="margin:2em;">
        <mat-form-field appearance="legacy">
            <mat-label>validation mot de passe</mat-label>
            <input [(ngModel)]="passwordValidation" matInput name="passwordValidation" type="password">
        </mat-form-field>
    </p>
    <p style='margin-bottom: 5em;'>
        <button mat-stroked-button type="submit">Submit</button>
    </p>
</form>
<app-display-client *ngIf="display" [client]="client" (return)="changedisplay()"></app-display-client>